* {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 50px;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    color: #e9d8a6;
    background-color: #001219;
}

h1, p {
    padding: 10px 0px ;
}

article {
    margin: 15px 0px;
    padding: 20px 0px;
    border-radius: 10px;
}

header, main, footer {
    background-color: #232846;
    margin: 20px;
    padding: 50px;
    border-radius: 10px;
}

main {
    margin: 20px;
    padding: 50px;
}
a {
    color: lightcoral;
}

table {
    border: 2px solid #001219;
    width: 100%;
}

th, td{
    border: 3px solid #001219;
    padding: 15px;

}
